body {
    background-color:#3B4664
}
main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin:100px;
    padding:40px;
}
.input1{
    width:31vw;
    height:100px;
    margin:20px;
    background-color:black;
    font-size:30px;
    color:white;
    border-radius:10px;
    padding:10px 10px;
}

#numbers{
    height:42vh;
    width:28vw;
    display:grid;
    background:#252D44;
    grid-template-columns: repeat(4,1fr);
    padding:30px;
    border-radius:10px;
    gap: 15px 15px;
}
.items{
    background-color:white;
    font-size:25px;
    color:black;
    font-weight: bold;
    text-align:center;
    border-radius:13px;
}

#delete{
    color:white;
    background-color:#3B4664;
    font-size:20px;
}

#reset{
    grid-column:1/3;
    color:white;
    background-color:#3B4664;
    font-size:20px;
}
#equals{
    grid-column:3/5;
    background-color:red;
    color:white;
}